body {
  overflow: hidden;
  overflow-y: auto;
}

#landpage {
  background: linear-gradient(#014981, skyblue, white);
  margin-top: -30px;
}
#landpage h1 {
  color: white;
  font-weight: bolder;
}
#landpage .alert {
  position: absolute;
  margin-top: 300px;
  margin-left: -100px;
  background: rgba(255, 255, 255, 0.2);
}
#landpage .main-text {
  margin: 50px 30px;
  background: url("/public/img/bg_480_title_clouds.png");
  background-repeat: no-repeat;
}
#landpage .main-text .background {
  position: absolute;
  width: 100%;
}
#landpage .main-text h5 {
  color: white;
  text-align: left;
}
#landpage .main-text .images {
  text-align: center;
}
#landpage .main-text .images .cloud {
  position: absolute;
  margin-left: -200px;
  margin-top: 80px;
}
#landpage .main-text .images .cloud2 {
  position: absolute;
  margin-left: -400px;
  margin-top: 80px;
}
#landpage .main-text .images .checked {
  position: absolute;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  margin-left: -170px;
  margin-top: 90px;
}

#dashboard-body-section {
  overflow: hidden;
}

#dashboard-page {
  display: grid;
  grid-template-columns: 70px auto;
}
#dashboard-page .left-section {
  background: #bdc8cc2d;
  height: 700px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
#dashboard-page .left-section .f-img {
  text-align: center;
  color: skyblue;
  font-size: 30px;
  margin-top: 40px;
}
#dashboard-page .left-section .settings {
  text-align: center;
  font-size: 30px;
  margin-top: 450px;
}
#dashboard-page .left-section .help {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
#dashboard-page .right-section {
  background: none;
}
#dashboard-page .right-section .top-section {
  background: skyblue;
  height: 230px;
  width: 100%;
  padding: 40px 20px;
}
#dashboard-page .right-section .top-section .r-top-section {
  text-align: right;
  color: white;
}
#dashboard-page .right-section .top-section .r-top-section .create-comp-btn {
  color: white;
}
#dashboard-page .right-section .top-section .r-top-section .create-comp-btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  color: skyblue;
  background: white;
  transition: 0.5s;
}
#dashboard-page .right-section .top-section .r-top-section .create-comp-btn a:hover {
  color: skyblue;
  background: rgba(255, 255, 255, 0.52);
  transition: 0.5s;
}
#dashboard-page .right-section .top-section .r-top-section .user {
  font-weight: bolder;
  border-radius: 20px;
  background: #6ccaf0;
  margin-left: 20px;
}
#dashboard-page .right-section .top-section input {
  padding-left: 70px;
  background: #6ccaf0;
  border: none;
  outline: none;
}
#dashboard-page .right-section .top-section input::placeholder {
  color: rgba(255, 255, 255, 0.568);
  font-weight: bolder;
}
#dashboard-page .right-section .top-section .search-icon {
  color: rgba(255, 255, 255, 0.568);
  font-size: 20px;
  position: absolute;
  padding: 5px 10px;
}
#dashboard-page .right-section .bottom-section {
  background: white;
  width: 80%;
  margin: auto;
}
#dashboard-page .right-section .bottom-section .box {
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  margin-top: -40px;
}
#dashboard-page .right-section .bottom-section .box .checked {
  font-size: 25px;
}
#dashboard-page .right-section .bottom-section .box .status {
  margin-top: 10px;
  font-weight: bolder;
}

.create-company-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.664);
  height: 657px;
  width: 100%;
  font-size: 14px;
  padding: 0 68px 0 68px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  text-align: right;
}
.create-company-overlay h4.closebtn {
  margin: 40px;
  cursor: pointer;
}
.create-company-overlay .box {
  text-align: left;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  margin: auto;
  width: 652px;
  top: 50%;
  left: 50%;
  height: 400px;
  box-shadow: 4px 4px 40px black;
}
.create-company-overlay .box .errors {
  color: #970a0a;
}
.create-company-overlay .box .box-bottom {
  margin-top: -20px;
  text-align: right;
}
.create-company-overlay .box .box-bottom h3.btn {
  padding: 2px 10px;
  margin-top: 5px;
  margin-right: 50px;
}
.create-company-overlay .box .box-bottom .file_upload {
  position: absolute;
  margin-top: -37px;
  width: 40px;
  opacity: 0;
  cursor: pointer !important;
  margin-left: -77px;
}
.create-company-overlay .box .box-bottom button {
  margin-left: 20px;
  font-weight: bolder;
  border: none;
}
.create-company-overlay .box .box-bottom a {
  text-decoration: none;
  color: #3490DC;
  font-weight: bolder;
  border: none;
}
.create-company-overlay .box .box-bottom :hover {
  color: white;
}
.create-company-overlay .box .form {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  scroll-behavior: smooth;
  font-size: 14px;
}
.create-company-overlay .box .header {
  border-bottom: 1px solid silver;
  padding: 1.15rem;
  padding-bottom: 0.5rem;
  font-weight: bolder;
}
.create-company-overlay .box .header h4 {
  font-weight: bold;
  color: silver;
  font-size: 16px;
}
.create-company-overlay .box .row {
  padding: 1.25rem;
}
.create-company-overlay .box .comp-name {
  text-align: center;
  font-size: 15px;
  color: silver;
  margin-top: 13px;
}
.create-company-overlay .warning {
  box-shadow: none;
  padding: 1.25rem;
  color: #800000;
}
.create-company-overlay .success {
  background: lightgreen;
  padding: 1.25rem;
  box-shadow: none;
  color: green;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
}

.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 14px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}

.inp #inp {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

.inp #inp:hover {
  background: rgba(34, 50, 84, 0.03);
}

.inp #inp:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}

.inp #inp:focus {
  background: none;
  outline: none;
}

.inp #inp:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}

.inp #inp:focus + span + .border {
  transform: scaleX(1);
}

.company_review {
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}
.company_review img.comp {
  transition: 10s 10s;
  transform: rotateZ(9deg);
  animation: rotate 10s linear infinite;
}
.company_review .company_name {
  position: absolute;
  padding: 20px;
  margin-top: 0px;
}
.company_review .company_img {
  text-align: center;
  top: 50%;
  margin-top: 30px;
}
.company_review .company_img img {
  transition: 10s 10s;
  margin-top: 40px;
  animation: rotate 10s linear infinite;
}
.company_review .company_img :hover {
  transition: 10s 10s;
  transform: rotateZ(90deg);
}
.company_review .right-box .box {
  background: transparent;
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  color: black;
}
.company_review .right-box .box .head h4 {
  font-weight: bolder;
  font-size: 14px;
}
.company_review .right-box .box .head .add-btn {
  text-align: right;
}
.company_review .right-box .box .project-info {
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  margin-left: 20px;
}

.company-uploadbtn {
  text-align: right;
}
.company-uploadbtn button {
  margin-top: -80px;
  margin-right: 10px;
}

.file_count {
  margin-top: -34px;
  font-weight: bolder;
  position: absolute;
  margin-left: -30px;
}
.file_count :hover {
  color: black;
}

.upload-loader-file {
  width: 50px;
}

.fileuploads {
  margin: auto;
  margin-top: 80px;
}
.fileuploads h1 {
  border: 2px dotted silver;
  padding: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 3px;
  margin-top: 50px;
}

.g-box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.closebtn {
  transition: 0.5s 0.5s;
  animation: spin 10s linear infinite;
}

@keyframes rotate {
  0% {
    transition: 5s ease-in;
    transform: rotateZ(0deg);
  }
  50% {
    transition: 5s ease-in;
    transform: rotateZ(5deg);
  }
  100% {
    transition: 4s ease-in;
    transform: rotateZ(-5deg);
  }
}
@keyframes spin {
  0% {
    transition: 1s ease-in;
    transform: rotateZ(0deg);
  }
  50% {
    transition: 1s ease-in;
    transform: rotateZ(90deg);
  }
  100% {
    transition: 1s ease-in;
    transform: rotateZ(360deg);
  }
}
@keyframes wiggle {
  0% {
    transition: 10s ease-in;
    transform: scale(0.5);
  }
  20% {
    transition: 10s ease-in;
    transform: scale(0.54);
  }
  40% {
    transition: 10s ease-in;
    transform: translateX(76px) scale(0.7);
  }
  50% {
    transition: 10s ease-in;
    transform: scale(0.7);
  }
  70% {
    transition: 10s ease-in;
    transform: scale(0.9);
  }
  100% {
    transition: 10s ease-in;
    transform: scale(0.5);
  }
}
@keyframes shake {
  0% {
    transition: 70s ease-in;
    transform: translateX(76px);
  }
  20% {
    transition: 70s ease-in;
    transform: translateX(176px);
  }
  40% {
    transition: 70s ease-in;
    transform: translateX(276px);
  }
  50% {
    transition: 70s ease-in;
    transform: translateX(376px);
  }
  70% {
    transition: 70s ease-in;
    transform: translateX(496px);
  }
  100% {
    transition: 70s ease-in;
    transform: translateX(76px);
  }
}
#login-form {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.l-text {
  padding: 20px 20px 0px 20px;
  font-weight: bolder;
  color: lightblue;
}

.g-signin {
  transition: 0.5s;
  color: #DC143C;
  margin-bottom: 10px;
}
.g-signin:hover {
  background: #DC143C;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  color: white;
}

.g-logo {
  width: 40px;
}

.login-left-img {
  transition: 0.5s;
  animation: wiggle 30s linear infinite;
}

.login .clowd-img {
  transition: 50s;
  animation: shake 70s linear infinite;
}

.pro-counts {
  height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
