*{
    font-family: 'Noto Sans HK', sans-serif;
}
body{
    margin:0px;
    padding:0px;
    overflow: hidden;
}
.top-nav div.left h1{
    
    font-size: 20px;
    color:rgb(194, 188, 187);
    transition:.1s;
    padding:10px;
}
.top-nav .right{
    padding:20px;
    display:flex;
}
.top-nav .right input::placeholder{
    color:silver;
    font-size:18px;
    font-weight: lighter;
}
.top-nav .right input:focus{
    background: white;
    box-shadow:rgba(65,69,73,0.3) 0px 1px 1px 0px, rgba(65, 69, 73, 0.295) 0px 1px 3px 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.top-nav .right input{
    transition:.5s;
    border-radius: 8px;
    padding:1px 10px;
    font-size: 13px;
    color:#000000;
    height: 46px;
    width: 613px;
    min-width: auto;
    min-height: auto;
    border:none;
    /* border-radius:10px; */
    background:#f1f3f4;
    outline: none;
    padding-left:80px;

}
.top-nav .right p{
    color:rgba(0, 0, 0, 0.411);
    border-radius: 8px;
    font-size:20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 46px;
    padding:10px;
    font-weight: lighter;
    position:absolute;
}
.top-nav{
    display:grid;
    grid-template-columns: auto auto 100px;
    padding:5px 20px;
}
.right-end p{
    font-size:20px;
    cursor:pointer;
    color:rgb(153, 153, 153);
    /* width:50px; */
}
.right-end{
    padding:30px 20px;
    display:grid;
    grid-template-columns: 50px 50px;
}
.nav_img img{
    width:30px;
    border-radius:30px;
    
}
.contents{

    margin:-30px;
    display:grid;
    grid-template-columns: 140px auto;

}
.left-content{
    /* background: rgba(202, 202, 202, 0.233); */
    /* height: 100px; */
    width:300px;
}
.left-content ul li:hover{
    background: #f1f3f4;
    transition:.5s;
}
.left-content ul li{
    list-style:none;
    transition:.5s;
    cursor: pointer;
    margin:20px 0px;
    padding:10px;
    margin-left:-10px;
    padding-left:30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 700;
    line-height: 20px;
    color:#3c4043;
    font-size: 14px;
}
.user_img{
    text-align: center;
    margin:auto;
    margin-top:20px;
    
}
.user_img img{
    width:200px;
    border-radius: 150px;
}
.name{
    /* background: rgba(0, 0, 0, 0.411); */
    width: 0px;
    text-align:center;
    margin:auto;
    position: relative;
    /* border-radius:50px; */   
    padding:5px;
    /* border-bottom-right-radius: 290px;
    border-bottom-left-radius: 290px; */
    margin-top:-120px;
    color:white;
    transition:.5s;
    visibility: hidden;
    font-size: 18px;
}
.user_img{
    width:160px;
    border-radius: 150px;
    cursor: pointer;
}
.user_img:hover .name{
    transition:.5s;
    width: 160px;
    margin-left:16px;
    color:#f1f3f4;
    font-weight: bolder;
    visibility: visible;
    background: rgb(153, 153, 153);
}
.user_img:hover .name span::after{
    content: "#";
}
.right-content{
    text-align:center;
}
.logout{
    background: silver;
    padding:10px 20px;
    width:400px;
    border-radius:3px;
}
.logout a{
    color:black;
    text-decoration: none;
}
.visitSite a{
    color:white;
    text-decoration: none;
}