body{
    margin:0px;
    padding:0px;
}
*{
    font-family: 'Noto Sans HK', sans-serif;
}
.top-header{
    top:0;
    background: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.733)),url('../assets/img/innfo1.jpg');
    color:white;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin: 0px;
    background-attachment: fixed;
}