body{
    background: lightslategray !important;
}
body::-webkit-scrollbar{
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
  border-radius: 30px;
}
.issue-board{
    margin: 20px;
    width: 600px;
    /* height: 500px; */
    overflow: auto;
    /* overflow-x: auto; */

}
.issue-board::-webkit-scrollbar{
    width: 1em;
}
.issue-board::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.issue-board::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.main-top-list{
    text-transform: uppercase;
    font-size: 14px !important;
    background: rgba(234, 238, 250, 0.479);
    padding: 10px 20px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 10px;
}
.main-top-list h3{
    font-size: 14px;
    font-weight: bolder;
}
.main-list{
    background: rgba(234, 238, 250, 0.479);
    padding: 10px 10px;
    border-radius: 3px;
    margin-top: 20px;
    height: auto;
}
.issue-building-logo{
    background:rgba(234, 238, 250, 0.842);
    color:#4E73DF;
    padding: 5px 8px;
    border-radius:30px;
    cursor: pointer;
}
.rows{
    display:grid;
    grid-template-columns: repeat(5, 300px);
    grid-gap: 10px;
    
}
.main-list-rows{
    height: 500px;
    overflow: auto;
    /* overflow-x: hidden; */
    width: 1600px;
}
.main-list-rows::-webkit-scrollbar{
    width: 1em;
}
.main-list-rows::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.main-list-rows::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}