.loaders {
    text-align: center; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 220px;   
}
.loaders span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: rgb(6, 54, 185);
    border-radius: 50px;
    -webkit-animation: loaders 0.9s infinite alternate;
    -moz-animation: loaders 0.9s infinite alternate;
}
.loaders span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loaders span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loaders {
  0%{
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
    
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}
@-moz-keyframes loaders {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}