body{
    overflow-x: hidden;
}
nav.navbar{
    border:none;
    background: white;
}
.Avatar{
    border-radius:90px;
    width:200px;
    padding:20px;
}
#u-info{
    color:silver;
    padding:10px;
    
}
#u-info h4{
    margin-left:10px;
}
.user_name{
    display:flex;
    font-size:40px;
    color:black;
    text-align:center;
    padding:10px;
    
}
.carousel-container {
    width: 100%;
    height: 700px;
    margin:0px;
    margin-top:-20px;
    margin-bottom: -20px;

}
nav *{
    transition: .5s;
}
.carousel {
width: 100%;
height: 700px;
background: #ddd;
overflow: hidden;
}

.carousel-item {
width: inherit;
height: inherit;
float: left;
display: none;
}

.carousel-item p {
color: #fff;
margin: 0;
line-height: 200px;
font-family: Calibri;
font-size: 50px;
text-align: center;
}

#item1 {
background: linear-gradient(rgba(0, 0, 0, 0.719),rgba(196, 214, 115, 0.562)),url(/Public/assets/img/slid1.jpg); /* BLUE */
background-repeat:no-repeat;
background-size:cover;
}
#item1 div,#item2 div,#item3 div,#item4 div{
    margin-top:20%;
}
#item2 {
background: linear-gradient(rgba(68, 223, 159, 0.562),rgba(68, 122, 223, 0.562)),url(/Public/assets/img/slid3.jpg); /* SEA GREEN */
background-size:cover;
background-repeat: no-repeat; 
}

#item3 {
background: linear-gradient(rgba(169, 223, 68, 0.562),rgba(68, 122, 223, 0.562)),url(/Public/assets/img/slid2.jpg); /* PURPLE */
background-size:cover;
background-repeat: no-repeat;
}

#item4 {
background: linear-gradient(rgba(169, 223, 68, 0.562),rgba(68, 122, 223, 0.562)),url(/Public/assets/img/wizard-city.jpg); /* YELLOW */
background-size:cover;
background-repeat: no-repeat;
}

.carousel-controls {
width: inherit;
height: 35px;
position:absolute;
margin-top:-300px;
}

.carousel-container .carousel-controls > a {
color: rgb(241, 241, 241);
font-size:70px;
opacity: 0.4;
margin: 5px;
padding: 5px;
font-family: Calibri;
text-decoration: none;
display: block;
text-transform: uppercase;
letter-spacing: 2px;
transition: all 0.2s;
}


.carousel-container .carousel-controls > a:hover {
color: #222;
}

.carousel-container .carousel-controls > a.left {
float: left;
}

.carousel-container .carousel-controls > a.right {
float: right;
}

.carousel-status {
margin: 0;
color: #444;
font-family: Calibri;
font-size: 12px;
text-align: center;
}
/* Profile Card */
#close_user_error{
    /* margin:auto; */
    float:right;
    text-align:center;
    margin-left:150px;
    font-size:20px;
    /* margin-top:10px; */
    border-radius:30px;
    position:absolute;
    cursor:pointer;
    padding: 2px 10px;
    background: rgba(255,255,255,0.2);;
    color:white;
}

#close_user_info{
    margin:auto;
    text-align:center;
    margin-left:110px;
    font-size:20px;
    margin-top:10px;
    border-radius:30px;
    position:absolute;
    cursor:pointer;
    padding: 2px 10px;
    background: rgba(255,255,255,0.2);;
    color:white;
}
/* Profile edit icons */
h4 .edit{
    display:none;
    text-align: right;
    float: right;
    cursor:pointer;
    
}
h4:hover .edit{
    display: block;
    transition: .4s;
}

/* Division Text */
.centered-text{

}
.centered-text h1{
    font-size:90px;
}
/* Company form  */
#create_company{
    margin:auto;
    background: linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.781)),url(/Public/assets/img/reg_c.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.form-group.card{
    background:white;
    padding:20px;
    margin:20px;
    border-radius:-3px;
    box-shadow:0px 0px 0px 40px white;
}
.form-control{
    border-radius:0px;
    background: rgba(63, 49, 126, 0.493);
    color:white;
    border:none;
}
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  .header {
    opacity:1 !important;
    position: fixed;
    /* top: 0; */
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    margin-top:50px;
  }
  .progress-bar {
    height: 8px;
    background: white;
    width: 0%;
  }
  #text {display:none;color:green}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* Search input form */
  .search-input{
      border-radius:3px;
      /* margin:10px; */
      margin-top:9px;
      margin-bottom:-10px;
      border: none;
      background: rgba(192, 192, 192, 0.568);
      padding:5px 10px;
      transition: 10s;
      margin-left:90px;
      outline: none;
  }

  .search_submit_button{
      background:silver;
      border:none;
      position:relative;
      color:white;
      padding:5px 10px;
      border-radius:20px;
      margin-left:-20px;
      font-weight: bolder;
  }
  #errors{
      display:none;
      background:rgba(119, 7, 7, 0.863);
      padding:5px 10px;
      border-radius:3px;
      color:white;
      transition:.8s;
      width:50%;
  }
  #create_company_page{
      overflow: hidden;
  }
  .box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-top:20px;
  }
  .company_lists{
      margin-top:-70px;
      
  }
  .logo{
      width:40px;
      height: 40px;
  }
  .top-show{
      display: grid;
      grid-template-columns:auto auto;
  }
  .top-show h4{
      text-align: right;
  }
  .company_lists small{
      color:silver;
  }
  .company_lists h6{
      font-family: sans-serif;
      border-left:1px solid silver;
      padding-left:4px;
  }
  #second-section{
      background: linear-gradient(rgba(92, 40, 177, 0.705),rgba(0, 0, 0, 0.623)),url(../gif/3.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      padding-bottom: 40px;
      /* background-position: center;   */
  }
  .box ul li{
      font-size:11px;
      list-style: circle;
  }
  .box ul li:hover{
      transition:.2s;
      font-size:15px;
      cursor: pointer;
  }
  .footer{
      text-align:center;
      padding:50px;
      color:silver;
      background: linear-gradient(rgba(40, 2, 61, 0.767),rgba(0, 0, 0, 0.513)),url('../gif/2.gif');
      border-top:5px solid silver;
      
  }
  .footer h4{
      font-size:15px;
  }