@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
  font-family: "Roboto", sans-serif;
}

body{
            
}
.sections{
    display: grid;
    grid-template-columns:240px auto;
    
}
.left-section{
    height: 100%;
    background: linear-gradient(rgba(1, 1, 48, 0.664),rgba(1, 1, 48, 0.856)),url('/Public/gif/6.gif');
    padding:10px;
    background-repeat:no-repeat;
    background-size: cover;
    /* border-right:5px solid white; */
}
.right-section{
    /* border-left:5px solid white; */
    height: 100%;
    background:rgba(101, 101, 235, 0.514);
    /* padding:10px; */
}
.admin-name{
    display:flex;
}
.name .h4{
    color: white;
    font-size: 20px;
    padding: 10px
}
.avatar img{
    margin-top:10px;
    border-radius:50px;
    width:70px;
    

}
/*# sourceMappingURL=style.css.map */

hr{
    background-color: whitesmoke;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}
.nav a{
    display: inline;
    color: white
}
.nav a:hover{
    color:white;
    text-decoration: none;
}
.list-text{
    padding:7px 10px;
    transition:.5s;
    cursor:pointer;
}

.list-text:hover{
    transition:.5s;
    margin-left:30px;
    border-bottom:1px solid rgba(101, 101, 235, 0.514);
}
.home{
    padding:7px 10px;
    background: rgba(101, 101, 235, 0.514);
    border-radius:10px;
    width:90px;
    
}
.list-text.home:hover{
    border-bottom:none;
    width:130px;
}
.logout{
    margin-top:290px;
    color:rgba(248, 248, 250, 0.925);
}
.errors{
    background:rgba(255, 0, 0, 0.342);
    margin:auto;
    color:rgb(88, 0, 0);
    padding:10px;
    text-align:center;
    width:70%;
}
.r-top-nav{
    display:grid;
    width:97%;
    margin:auto;
    grid-template-columns:auto auto;
}
.l-r-top-nav{
    padding:20px;
    background: white;
    color:black;
    text-align:center;
    transition:.5s;
    
}
.l-r-top-nav:hover{
    transition:.5s;
    color:black;
    text-decoration: none;
    background:rgba(235, 232, 232, 0.692);
}
.r-r-top-nav{
    transition:.5s;
    padding:20px;
    color:rgba(235, 232, 232, 0.692);
    text-align:center;
    background: linear-gradient(rgba(1, 1, 48, 0.664),rgba(1, 1, 48, 0.856)),url('/Public/gif/6.gif');
}
.r-r-top-nav:hover{
    transition:.5s;
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.content{
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    height:540px;
    padding:20px;
}
.content::-webkit-scrollbar{
    display: none;
}
.project-data{
    background:rgba(255, 255, 255, 0.575);
    padding:10px;
    margin-left: 90px;
    margin-right:40px;
    cursor:pointer;
}
.project-data h1.tit{
    font-size:27px;
    color:rgba(86, 86, 124, 0.637);
}
small{
    font-size:19px;
    
}

.f-page::-webkit-scrollbar{
    display:none;
}
.f-page{
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    height:435px;
}
.company-contents{
    border-top:1px solid silver;
    margin-left:50px;
    color:rgba(58, 56, 56, 0.801);
}